<section>
  <header class="page-header lead">
    <h1>Our Story:</h1>
    <p><span class="brand">Jungle</span>  was created by Jospeh and Joanne Jung, after spending months trying to find a very specific type of fern for their house. They visited multiple greenhouses and searched through the usual big market websites, but no one offered a direct-to-customer plants sales experience to suit their needs. This is how the idea for <span class="brand">Jungle</span> came to be!</p>
  </header>

  <div class="container">
    <h2>Our Promise:</h2>
    <p>We promise to help you find the best plants for your home environment, and guarantee that the plants will still be alive one year later! Just follow our provided plant care plans and, if the plant fails to thrive within a year, we will send you another one!</p>

    <h2>Our Offices:</h2>
    <p>While we are not open to the public for shopping, you can find us at: 
    <address> 32 Wallaby Way, Sidney </address> 
    Or by phone at: <a href="tel:+12345678">12345678</a>
    </p>
  </div>
</section>
